/*--------------------------------------------------------------
# General Styling
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f7fc;
}

a {
  color: #149ddd;
  text-decoration: none;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: #173b6c;
  margin-bottom: 10px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
  background: #149ddd;
  color: #fff;
  transition: background 0.3s ease, transform 0.3s ease;
  z-index: 9999;
  font-size: 24px;
  text-align: center;
  line-height: 48px;
}

.back-to-top:hover {
  background: #2eafec;
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  padding: 20px;
  background: #040b14;
  transition: 0.5s;
  z-index: 9997;
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
}

#header .profile .social-links a {
  font-size: 18px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 50%;
  background: #212431;
  color: #fff;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

#main {
  margin-left: 300px;
  padding-top: 80px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.nav-menu {
  padding-top: 30px;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 15px;
  font-size: 16px;
  text-transform: capitalize;
  transition: 0.3s;
  font-weight: 600;
}

.nav-menu a i {
  font-size: 20px;
  padding-right: 10px;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
  background-color: rgba(20, 157, 221, 0.1);
}

.nav-menu a:hover i, .nav-menu .active > a i {
  color: #149ddd;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpeg") center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero h1 {
  font-size: 56px;
  font-weight: 700;
  margin: 0;
  z-index: 2;
}

#hero p {
  font-size: 24px;
  margin-bottom: 50px;
  z-index: 2;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 36px;
  }
  #hero p {
    font-size: 18px;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .content h3 {
  font-size: 28px;
  font-weight: 700;
  color: #173b6c;
}

.about .content ul {
  list-style: none;
  padding-left: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 8px;
  color: #149ddd;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 20px;
  background: #040b14;
  color: #f4f6fd;
  font-size: 14px;
  text-align: center;
}

#footer a {
  color: #149ddd;
}

#footer a:hover {
  text-decoration: underline;
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info {
  padding: 30px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 24px;
  background: #dff3fc;
  padding: 12px;
  border-radius: 50%;
  margin-right: 20px;
}

.contact .info h4 {
  font-size: 22px;
  font-weight: 600;
}

.contact .php-email-form button[type="submit"] {
  background: #149ddd;
  border: 0;
  padding: 12px 30px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #37b3ed;
}

@media (max-width: 767px) {
  .contact .info {
    padding: 20px;
  }
}